/* 初始化 */
*{
	margin:0;
	padding:0;
	border:none;
	box-sizing:border-box;
	font-family:"YaHei Microsoft";
    font-family:"微软雅黑";
}
body,html{
	width:100%;
	height:100%;
	background:#ddd;
}
a{
	color:#444;
	text-decoration:none;
}
ul{
	list-style:none;
}
i{
	font-style:normal;
}
::selection {
    background-color: #095192;
    color: #fff;
}
/* 头部 */
.header{
	background:url('../images/logo_bg.png');
}
/* logo */
.logo{
	overflow:hidden;
}
.logo>img{
	width:50%;
	min-width:235px;
	float:left;
	margin:25px 0;
	margin-left:10%;
}
.logo h1{
	font-size:2.5em;
	color:white;
	float:left;
	line-height:150px;
	margin-left:3%;
}
/* 导航 */
.nav{
	min-height:50px;
	background:white;
	position:relative;
}
.nav ul{
	list-style:none;
	display: table;
	margin:0 auto;
	overflow:hidden;
}
.nav ul li{
	float:left;
	display: table-cell;
	min-width:140px;
}
.nav ul li a{
	color:#084a84;
	text-decoration:none;
	line-height:50px;
	width:100%;
	height:50px;
	text-align:center;
	display:block;
}

/* 二级菜单 */
.box{
	min-width:140px;
	background:white;
	position:absolute;
	z-index:20;
	display:none;
}
.box span a{
	padding:0 20px;
	height:45px!important;
	line-height:45px!important;
	font-size:15px!important;
}
.box span a:hover{
	background:#08457C!important;
}
/*背景*/
.big_img img{
    height: 200px;
    width: 100%;
    
}

/* 底部 */
.footer{
	height:255px;
}
.link{
	overflow:hidden;
	min-height:230px;
	position:relative;
	background:url('../images/logo_bg.png');
}
.section{
	float:left;
	margin-top:45px;
	margin-left:15%;
	width:26%;
	min-height:200px;
}
.section ul h3{
	margin-bottom:10px;
}
.section ul h3,.section ul li a{
	color:#fff;
}
.section ul li{
	float:left;
	margin-top:5px;
	margin-right:20px;
}
.section ul li a:hover{
	text-decoration:underline;
}
.logo_bottom{
	width:130px;
	height:130px;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.ship{
	margin-left:23.5%;
}
.information p{
	text-align:center;
	background:#333;
	color: #bababa;
	font-size: 12px;
	min-height:30px;
	line-height:30px;
}
.information p span{
	margin-right:40px;
}
/*分页*/
.right_main .page{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.right_main .page .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.right_main .page .pagination>li {
    display: inline
}
.right_main .page .pagination li a {
	position: relative;
    float: left;
    padding: 10px 15px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.right_main .page .pagination li a:hover{
	background: #095192;
	color: #fff;
}
.right_main .page .pagination li .active{
	background: #095192;
	color: #fff;
}
/* 媒体查询 */
@media (max-width: 1015px){
	.link{
		padding-bottom:40px;
		padding-bottom:40px\0;
	}
}
@media (max-width: 1053px){
	.nav ul{
		width:100%;
	}
	.nav ul li{
		width:20%;
	}
	.box{
		width:20%;
		background:#eee;
	}
}
@media(max-width:721px){
	.logo>img{
		margin-left:3%;
	}
	.information p{
		paddign-left:20px;
	}
	.link img{
		position:absolute;
		display:none;
	}
	.section{
		width:88%;
		display:block;
		margin:0 auto;
		margin-top:35px;
		float:none;
		min-height:115px;
	}
	.section ul h3,.section ul li a{
		text-align:center;
	}
	.ship{
		margin-top:10px;
	}
}


/* 新增  2017/9/12 17:30*/
.searchBox{
	float:left;
	width:15%;
	min-width:200px;
	margin-left:15%;
	margin-top:4.5%;
}
.searchBox button,.searchBox input{
	width:65%;
	height:40px;
	float:right;
	outline:none;
}
.searchBox input{
	transition:all 0.5s;
	padding-left:10px;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
.searchBox .searchInput:focus{
	width:85%;
}
.searchBox button{
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	width:15%;
	background:white;
	cursor:pointer;
	height:40px;
	position:relative;
}
.searchBox>button>input{
	opacity:0;
}
.icon_search{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	left:0;
	right:0;
	width:22px;
	height:22px;
}
/* 新增结束 */