/* 大图 */
.photo, .photo img {
    width: 100%;
    position:relative;
}
.photo span{
    position:absolute;
    width:90%;
    max-height:130px;
    line-height:130px;
    z-index:20;
    font-size:100px;
    font-weight:bold;
    color:red;
    text-align:center;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

/* 漂浮窗口 */
.adver {
    width: 300px;
    height: 200px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    border-radius: 5px;
    /*overflow: hidden;*/
}

.adver button {
    position: absolute;
    z-index: 10000;
    right: 0;
    top: -25px;
    font-size: 15px;
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
}

.adver button:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #444;
}

.adver a img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

/* 轮播 */
.scroll {
    width: 100%;
    height: 450px;
    position: relative;
}

.imglist {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.imglist ul {
    list-style: none;
    width: 100%;
}

.imglist ul li {
    float: left;
    position: absolute;
    display: none;
    width: 100%;
    background: #888;
    overflow: hidden;
}

.img_active {
    display: block;
}

.imglist, .imglist ul li a img {
    max-width: 100%;
    height: 450px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/*按钮*/
.btn {
    width: 100%;
    height: 100%;
}

/* 焦点控制按钮 */
.btn .focus {
    position: absolute;
    z-index: 10;
    bottom: 5px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.focus span {
    width: 10px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
    background: #eee;
}

.active {
    background: #084a84 !important;
}

/* 左右切换按钮 */
.scroll:hover .switch > div {
    opacity: 0.8;
}

.switch > div {
    width: 70px;
    height: 110px;
    transition: all 1s ease;
    position: absolute;
    z-index: 10;
    margin: auto;
    top: 0;
    opacity: 0;
    bottom: 0;
    cursor: pointer;
}

.switch > div:hover {
    width: 110px;
    background: rgb(8, 76, 136)
}

.switch > div img {
    width: 60px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

/* 列表内容部分 */
.content {
    overflow: hidden;
}

/* 学院新闻 */
.news_text {
    width: 23.3%;
    float: left;
    margin-top: 20px;
    margin-left: 10%;
    height: 460px;
    background: #fff;
}

.news_text .top {
    width: 100%;
    height: 50px;
    background: #5d99cf;
    color: white;
    font-size: 18px;
    line-height: 50px;
}

.news_text .top span {
    margin-left: 20px;
}
.news_text .top .more{
    margin-right:10px;
    float: right;
    font-size:14px;
    color: #fff;
}
.news_text .top a:hover{
    text-decoration: underline;
}
.item {
    height: 400px;
    overflow: hidden;
}
/*.item_pic{
    width:486px;
}*/
.item ul {
    margin-top: 10px;
}

.item ul li {
    height: 70px;
    margin-bottom: 6px;
    overflow: hidden;
}

.item ul li .date {
    margin-top: 10px;
    margin-left: 10px;
    margin-right:15px;
    float: left;
}

.item ul li .date i,
.item ul li .date e {
    width: 55px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    height: 30px;
    background: #5d99cf;
    display: block;
    color: #f1f1f1;
}

.item ul li .date e {
    height: 20px;
    font-size: 12.5px;
    line-height: 20px;
    color: #5d99cf;
    background: #f1f1f1;
}

.item ul li a {
    width: 90%;
    margin-left: 10px;
    display:block;
    margin-top: 12px;
}

.item ul li a:hover {
    text-decoration: underline;
}

.item ul li a p {
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}

    .date_notice {
    display:block;
    font-size: 15px;
    color: #666;
}

/* 图片新闻 */
.item_pic h2{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.item_pic p{
    text-indent:1em;
}
.item_pic font{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.pic {
    position: relative;
    margin-left: 10px;
    width: 32%;
	max-width: 500px;
    background: #5d99cf;
}

.pic ul {
    width: 100%;
    overflow: hidden;
}

.pic ul li {
    position: absolute;
    display: none;
}

.pic ul li .top,
.pic ul li .top a img {
    width: 100%;
    height: 230px;
}

.pic ul li .item h2, .pic ul li .item p, .pic ul li .item font {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.pic ul li .item p {
    font-size: 14px;
    margin-left: 10px;
}

.pic ul li .item font {
    width: 91.5%;
    font-size: 18px;
    margin-left: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 图片新闻控制按钮 */
.pic ul li .item p a {
    display: block;
    position: absolute;
    top: 410px;
    width: 130px;
    cursor: pointer;
    background: #5a90c1;
    color: white;
    line-height: 35px;
    text-align: center;
    height: 40px;
    border: 2px solid #fff;
}

.pic ul li .item p a:hover {
    background: white;
    color: #5a90c1
}

.circle {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    right: 20px;
}

.circle span {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    float: left;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
}

.cir_active {
    background: #bbb !important;
}

/* 通知公告 */
.notice {
    margin-left: 10px;
}

.notice ul {
    margin-top: 0px;
    overflow: hidden;
}

.notice ul li {
    width: 90%;
    height: 65px;
    border-bottom: 1px dashed #bbb;
    margin: 0px auto;
}

.notice ul li .date img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

/* 透明层 */
.transparent {
    width: 100%;
    position: relative;
    height: 310px;
    background: url('../images/transparent.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
    overflow: hidden;
}

.transparent .text img {
    width: 65%;
    display: block;
    margin: 120px auto;
}

.gear {
    position: absolute;
    right: 10px;
    top: 10px;
}

.big {
    width: 70px;
    height: 70px;
    transform: rotateX(360deg);
    -webkit-animation: play 3s infinite linear;
}

.small {
    width: 50px;
    height: 50px;
    margin-right: -10px;
    -webkit-animation: play2 3s infinite linear;
}

@-webkit-keyframes play {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes play2 {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}

/* 图片链接 */
.imgLink {
    width: 76%;
    height: 140px;
    overflow: hidden;
    margin: 20px auto;
}

.imgLink ul li a {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.imgLink ul {
}

.imgLink ul li {
    height: 140px;
    width:251px;
    transition: all 1s linear;
    float: left;
    margin-right: 30px;
}

.imgLink ul li a img {
    width:251px;
    height: 140px;
    display: block;
    margin: 0 auto;
    border:8px solid #fff;
}

.imgLink ul li:hover {
    box-shadow: 3px 3px 5px #bbb,
    -3px -3px 5px #bbb;
}

.imgLink ul li a img:hover {
    height: 140px;
}

/* 媒体查询 */
@media (min-width: 1001px) and (max-width: 1199px) {
    .photo span{
        font-size:80px;
    }
    .scroll {
        height: 400px;
    }

    .imglist, .imglist ul li a img {
        height: 400px;
    }

    .switch > div {
        width: 70px;
        height: 130px;
    }

    .switch > div:hover {
        width: 130px;
    }

    .switch > div img {
        width: 70px;
        height: 70px;
    }

    .news_text {
        width: 32%;
        margin-top: 10px;
        margin-left: 10px;
    }

    .pic ul li .item font {
        font-size: 14px;
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .photo span{
        font-size:60px;
    }
    .scroll {
        height: 380px;
    }

    .imglist, .imglist ul li a img {
        height: 380px;
    }

    .switch > div {
        width: 80px;
        height: 80px;
    }

    .switch > div:hover {
        width: 105px;
    }

    .switch > div img {
        width: 60px;
        height: 60px;
    }

    .news_text {
        margin-top: 10px;
        margin-left: 10px;
        width: 32%;
    }

    .pic ul li .item font {
        font-size: 13px;
        margin-top: 5px;
    }

    .transparent {
        height: 280px;
    }

    .big {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .small {
        width: 27px;
        margin-right: -5px;
        height: 27px;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .photo span{
        font-size:40px;
    }
    .scroll {
        height: 250px;
    }

    .imglist, .imglist ul li a img {
        height: 250px;
    }

    .switch > div {
        width: 70px;
        height: 70px;
    }

    .switch > div:hover {
        width: 90px;
    }

    .switch > div img {
        width: 50px;
        height: 50px;
    }

    .transparent {
        height: 250px;
    }

    .big {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .small {
        width: 27px;
        margin-right: -5px;
        height: 27px;
    }
}

@media (max-width: 915px) {
    .pic {
        display: none;
    }

    .news_text {
        margin-top: 10px;
        margin-left: 10px;
        width: 48%;
    }
}

@media (max-width: 615px) {
    .pic {
        display: none;
    }

    .news_text {
        margin-top: 10px;
        margin-left: 10px;
        width: 96%;
    }

    .transparent {
        height: 230px;
    }

    .big {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .small {
        width: 27px;
        margin-right: -5px;
        height: 27px;
    }
}

@media (max-width: 500px) {
    .photo span{
        font-size:20px;
    }
    .scroll {
        height: 150px;
    }

    .imglist, .imglist ul li a img {
        height: 150px;
    }

    .switch > div {
        width: 60px;
        height: 60px;
    }

    .switch > div:hover {
        width: 75px;
    }

    .switch > div img {
        width: 40px;
        height: 40px;
    }
}
