<extend name="Public:base"/>
<block name="title">搜索结果</block>
<block name="meta">
    <meta http-equiv="x-ua-compatible" content="IE=EmulateIE9">
    <meta http-equiv="x-ua-compatible" content="IE=EmulateIE8">
    <meta http-equiv="x-ua-compatible" content="IE=EmulateIE7">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</block>
<block name="css">
    <link href="__PUBLIC__/jd_asset/css/list.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/jd_asset/css/tui.css" rel="stylesheet" type="text/css">
</block>
<block name="js">
    <script src="__PUBLIC__/jd_asset/dist/response.min.js"></script>
</block>
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<block name="content">
    <div class="big_img"><img src="__PUBLIC__/jd_asset/images/bd.jpg"></div>
    <!-- content -->
    <div class="content">
        <div class="container">
            <!-- 左侧导航 -->
            <div class="left hidden-xs col-lg-3 col-sm-3 col-md-3">
                <h2 class="title">搜索结果</h2>
            </div>
            <!-- 右边列表 -->
            <div class="right col-xs-12 col-lg-9 col-sm-9 col-md-9">
                <div class="right_con">
                    <div class="right_herder">
                        <h2 class="title">搜索结果</h2>
                        <div class="current">
                            <ul class="breadcrumb">
                                <li><a href="{:U('Home/Index/index')}">首页</a>/</li>
                                <li class="active"><span>搜索结果</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right_main">
                        <ul class="right_main_text">
                            <?php if(is_null($searchResult)):?>
                            <li>暂无数据</li>
                            <?php else:?>
                            <foreach name="searchResult" item="vo" >
                               <li>
                                    <a href="<?php echo U('Home/Content/index', ['id'=>$vo['content_id']]);?>" title="{$vo['title']}">{$vo['title']}</a>
                                    <span>{$vo['addtime']}</span>
                                </li>
                            </foreach>
                            <?php endif;?>
                        </ul>
                        <!-- 分页的格式 <ul class='pagination' id='pape'>{$page_str}</>-->
                        <div class="page">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
